.header{
    margin-top: 10px;
    margin-bottom: 10px;
}

.headder-h2{
    text-align: center;
    margin-bottom: 1rem;
    
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.header-link{
    font-size: 30px;
    text-decoration: none;
    color: white;
    padding: 1rem 5rem;
}